<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">

	<title>Multiroom Chat</title>

	<!-- JQUERY -->
	<script src="js/jquery-2.2.1.js"></script>

	<!-- bootstrap - link cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	 crossorigin="anonymous">

	<!-- estilo -->
	<link href="css/style.css" rel="stylesheet">

	<script type="text/javascript">

		$(document).ready(function () {
			$("#exibe_chat").click(function () {
				$("#conversa").show();
				$("#participantes").hide();
				ocultaNavbar();
			});

			$("#exibe_participantes").click(function () {
				$("#participantes").show();
				$("#conversa").hide();
				ocultaNavbar();
			});
		});

		function ocultaNavbar() {
			$("#btn_navbar_toggle").attr("class", "navbar-toggle collapsed");
			$("#navbar-collapse-1").attr("class", "navbar-collapse collapse");
			$("#btn_navbar_toggle").attr("aria-expanded", "false");
			$("#navbar-collapse-1").attr("aria-expanded", "false");
		}
	</script>
</head>

<body>

	<% include partials/menu %>
	<div class="container">
		<div class="row conversa" id="conversa">
			<div class="col-md-1"></div>
			<div class="col-md-10" id="dialogos">
			</div>
			<div class="col-md-1"></div>

		</div>
		<div class="row participantes" id="participantes" style="display:none">
			<div class="col-md-1"></div>
			<div class="col-md-10" id="pessoas">
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
			<div class="panel-body campo-mensagem">
				<div class="col-md-12">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Mensagem" id="mensagem">
						<input type="hidden" value="<%=dadosForm.apelido%>" id="apelido">
						<input type="hidden" value="0" id="apelidoCliente">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" id="enviaMensagem">></button>
						</span>
					</div>
				</div>
			</nav>
	</nav>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	 crossorigin="anonymous"></script>
	<script src="/socket.io/socket.io.js"></script>

	<script>
		var socket = io('http://localhost');
		
		$('#mensagem').keypress(function (event) {
			if($('#mensagem').val() == ""){
				console.log('mensagem vazia, mas não deve aparecer no chat');
			}
			else if(event.which == 13){
				socket.emit(
					'msgServidor',
					{
						apelido: $('#apelido').val(),
						mensagem: $('#mensagem').val(),
						apelidoCliente: $('#apelidoCliente').val()
					}
				);
				mensagem: $('#mensagem').val(""),
					$('#apelidoCliente').val(1);
				}
			});

			$('#enviaMensagem').click(function () {
				if($('#mensagem').val() == ""){
				console.log('mensagem vazia, mas não deve aparecer no chat');
				}else{
				socket.emit(
					'msgServidor',
					{
						apelido: $('#apelido').val(),
						mensagem: $('#mensagem').val(),
						apelidoCliente: $('#apelidoCliente').val()
					}
				);
				mensagem: $('#mensagem').val(""),
					$('#apelidoCliente').val(1);
				}
			});

			socket.on('msgClienteEnvia', function (data) {
				var html = '';
				html += '<div class="dialogoEnvia">';
				html += '<h4>' + data.apelido + '</h4>';
				html += '<p class="text-light">' + data.mensagem + '</p>';
				html += '</div>';

				$('#dialogos').append(html);
				window.scrollTo(0, document.body.scrollHeight);
			});

			socket.on('msgClienteRecebe', function (data) {
				var html = '';
				html += '<div class="dialogoRecebe">';
				html += '<h4>' + data.apelido + '</h4>';
				html += '<p class="text-light">' + data.mensagem + '</p>';
				html += '</div>';

				$('#dialogos').append(html);
				window.scrollTo(0, document.body.scrollHeight);
			});

			socket.on('msgClienteEntrou', function (data) {
				var html = '';
				html += '<div class="logado">';
				html += '<h4>' + data.apelido + '</h4>';
				html += '<p class="text-light">' + data.mensagem + '</p>';
				html += '</div>';

				$('#dialogos').append(html);
				window.scrollTo(0, document.body.scrollHeight);
			});

			socket.on('participanteCliente', function (data) {

				var html = '';
				html += '<span class="participante">';
				html += '<p class="text-light">' + data.apelido + '</p>';
				html += '</sapn>';

				$('#pessoas').append(html);

			});
	</script>

</body>

</html>